{
    "Rules": [
        {
            "ID": "Move all files to Intelligent - Tiering",
            "Status": "Enabled",
            "Prefix": "",
            "Transitions": [
                {
                    "Days": 0,
                    "StorageClass": "INTELLIGENT_TIERING"
                }
            ]
        }
    ]
}
